*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  font-size: 16px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}

main {
  margin: auto;
}

a {
  color: inherit;
}

ul {
  list-style: none;
}

:root {
  --header-text-color: #fff;
  --header-overlay-color: rgba(0, 0, 0, 0.4);
  --content-text-color: #fff;
  --content-background-color: #000;
  --scroll-icon-background: rgba(0, 0, 0, 0.8);
  --scroll-icon-color: #fff;
  --footer-background-color: rgba(0, 0, 0, 0.6);
  --footer-text-color: #fff;
  --mobile-menu-alignment: flex-end;
  --desktop-menu-alignment: flex-end;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: var(--content-text-color);
  background-color: var(--content-background-color);
  font-weight: lighter;
}

.hero {
  height: 100vh;
  background-image: url(../../img/theme/background--mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
@media (min-width: 800px) {
  .hero {
    background-image: url(../../img/theme/background--desktop.jpg);
  }
}

.overlay {
  height: 100vh;
  transition: all 300ms ease-in-out;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.add-background {
  background-color: var(--header-overlay-color);
}

.header {
  display: flex;
  flex-flow: column;
  align-items: var(--mobile-menu-alignment);
  height: 100vh;
  color: var(--header-text-color);
}
@media (min-width: 800px) {
  .header {
    height: auto;
    flex-flow: row;
    justify-content: var(--desktop-menu-alignment);
    padding: 2rem 1rem;
  }
}

.nav {
  position: absolute;
  width: 100%;
  top: 4rem;
  bottom: 0;
  transition: all 300ms ease-in-out;
  opacity: 0;
}
@media (min-width: 800px) {
  .nav {
    opacity: 1;
    position: static;
    width: 70%;
  }
}
.nav--open {
  opacity: 1;
}

.menu {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
}
@media (min-width: 800px) {
  .menu {
    position: static;
    flex-flow: row;
  }
}
.menu-item {
  font-size: 2rem;
  font-weight: lighter;
}
.menu a {
  text-decoration: none;
}

.toggle {
  padding: 1.5rem;
  background-color: transparent;
  cursor: pointer;
}
@media (min-width: 800px) {
  .toggle {
    display: none;
  }
}
.toggle-bar {
  width: 2rem;
  height: 4px;
  background-color: var(--header-text-color);
  border-radius: 10px;
  margin-bottom: 0.5rem;
}
.toggle-bar:last-of-type {
  margin-bottom: 0;
}
.toggle-bar--shift-down {
  animation: shiftBarDown 300ms linear forwards;
}
.toggle-bar--vanish {
  opacity: 0;
}
.toggle-bar--shift-up {
  animation: shiftBarUp 300ms linear forwards;
}

@keyframes shiftBarDown {
  0% {
    transform: translateY(0);
  }
  50%, 75% {
    transform: translateY(0.75rem);
  }
  100% {
    transform: translateY(0.75rem) rotateZ(45deg);
  }
}
@keyframes shiftBarUp {
  0% {
    transform: translateY(0);
  }
  50%, 75% {
    transform: translateY(-0.75rem);
  }
  100% {
    transform: translateY(-0.75rem) rotateZ(-45deg);
  }
}
.scroll-icon {
  align-self: center;
  border-radius: 100px;
  width: min-content;
  padding: 1rem 1.35rem;
  font-size: 2rem;
  background-color: var(--scroll-icon-background);
  margin-bottom: 1rem;
  animation: bounce 0.5s ease-in-out 1s forwards;
}
.scroll-icon--vanish {
  display: none;
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
}
.scroll-icon__arrow {
  color: var(--scroll-icon-color);
}

.section {
  background-color: var(--background-color);
  padding: 3rem 2rem;
}
@media (min-width: 800px) {
  .section {
    padding: 3rem 0;
  }
}

.embed {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-1x1 {
  padding-bottom: 100%;
}

.embed-4x3 {
  padding-bottom: 75%;
}

.embed-2x1 {
  padding-bottom: 50%;
}

.embed iframe, .embed object, .embed embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.grid {
  display: grid;
  gap: 3rem;
}
@media (min-width: 800px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    margin: auto;
    gap: 5rem;
  }
}

h1 {
  text-align: center;
  margin-bottom: 3rem;
  font-weight: lighter;
  font-size: 3rem;
}

h2 {
  font-weight: lighter;
  font-size: 2rem;
  margin-bottom: 2rem;
}

p {
  margin-bottom: 1rem;
}
p:last-of-type {
  margin-bottom: 0;
}

.footer {
  background-color: var(--footer-background-color);
  color: var(--footer-text-color);
  padding: 3rem 0;
  text-align: center;
}

.contacts {
  display: flex;
  flex-flow: column;
  margin-bottom: 3rem;
}
@media (min-width: 800px) {
  .contacts {
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
}
.contacts li {
  margin-bottom: 2rem;
}
.contacts li:last-of-type {
  margin-bottom: 0;
}
@media (min-width: 800px) {
  .contacts li {
    padding: 1rem 2rem;
    margin-bottom: 0;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  max-width: 1000px;
}
