// spacing
@mixin bottom-margins($amount) {
  margin-bottom: $amount;

  &:last-of-type {
    margin-bottom: 0;
  }
}

// borders - need to figure out how to arguments into whole declarations
  
  
// positioning
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// shapes
@mixin full-circle {
  border-radius: 100%;
}

// grid
@mixin fluid-grid($min, $max) {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($min, $max));
  grid-auto-flow: row dense;
  align-items: start;
}

@mixin two-col {
  grid-template-columns: repeat(2, 1fr);
}

@mixin three-col {
  grid-template-columns: repeat(3, 1fr);
}

@mixin four-col {
  grid-template-columns: repeat(4, 1fr);
}
  

// testing
@mixin test-border($color) {
  border: 3px solid $color;
}

// linear gradients for text
@mixin text-gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// content dividing lines
@mixin dividing-line($thickness, $width) {
  height: $thickness;
  width: $width;
}
    
// project specific mixins 


