@import
'../scss/base/base',
'../scss/mixins';

// color theme variables
:root {
  --header-text-color: #fff;
  --header-overlay-color: rgba(0, 0, 0, 0.4);
  --content-text-color: #fff;
  --content-background-color: #000;
  --scroll-icon-background: rgba(0, 0, 0, 0.8);
  --scroll-icon-color: #fff;
  --footer-background-color: rgba(0, 0, 0, 0.6);
  --footer-text-color: #fff;
  --mobile-menu-alignment: flex-end;
  --desktop-menu-alignment: flex-end;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: var(--content-text-color);
  background-color: var(--content-background-color);
  font-weight: lighter;
}

// hero & overlay
  .hero {
    height: 100vh;
    background-image: url(../../img/theme/background--mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    @media (min-width: 800px) {
      background-image: url(../../img/theme/background--desktop.jpg);
    }
  }

  .overlay {
    height: 100vh;
    transition: all 300ms ease-in-out;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }

  .add-background {
    background-color: var(--header-overlay-color);
  }

// header and dropdown menu

  .header {
    display: flex;
    flex-flow: column;
    align-items: var(--mobile-menu-alignment);
    height: 100vh;
    color: var(--header-text-color);
    
    @media (min-width: 800px) {
      height: auto;
      flex-flow: row;
      justify-content: var(--desktop-menu-alignment);
      padding: 2rem 1rem;
    }
  }

  .nav {
    position: absolute;
    width: 100%;
    top: 4rem;
    bottom: 0;
    transition: all 300ms ease-in-out;
    opacity: 0;

    @media (min-width: 800px) {
      opacity: 1;
      position: static;
      width: 70%;
    }

    &--open {
      opacity: 1;
    }
  }

  .menu {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;

    @media (min-width: 800px) {
      position: static;
      flex-flow: row;
    }

    &-item {
      font-size: 2rem;
      font-weight: lighter;
    }

    a {
      text-decoration: none;
    }
  }


// icons

  .toggle {
    padding: 1.5rem;
    background-color: transparent;
    cursor: pointer;

    @media (min-width: 800px) {
      display: none;
    }

    &-bar {
      width: 2rem;
      height: 4px;
      background-color: var(--header-text-color);
      border-radius: 10px;
      margin-bottom: 0.5rem;

      &:last-of-type {
        margin-bottom: 0;
      }

      &--shift-down {
        animation: shiftBarDown 300ms linear forwards;
      }

      &--vanish {
        opacity: 0;
      }

      &--shift-up {
        animation: shiftBarUp 300ms linear forwards
      }
    }
  }

  // toggle bar animations

    @keyframes shiftBarDown {
      0% {
        transform: translateY(0);
      }

      50%, 75% {
        transform: translateY(0.75rem);
      }

      100% {
        transform: translateY(0.75rem) rotateZ(45deg);
      }
    }

    @keyframes shiftBarUp {
      0% {
        transform: translateY(0);
      }

      50%, 75% {
        transform: translateY(-0.75rem);
      }

      100% {
        transform: translateY(-0.75rem) rotateZ(-45deg);
      }
    }

  .scroll-icon {
    align-self: center;
    border-radius: 100px;
    width: min-content;
    padding: 1rem 1.35rem;
    font-size: 2rem;
    background-color: var(--scroll-icon-background);
    margin-bottom: 1rem;
    animation: bounce 0.5s ease-in-out 1s forwards;

    &--vanish {
      display: none;
    }

    @keyframes bounce {
      0%, 100% {
        transform: translateY(0px);
      }
    
      50% {
        transform: translateY(-30px);
      }
    }

    &__arrow {
      color: var(--scroll-icon-color);
    }
  }

// mid section content

  .section {
    background-color: var(--background-color);
    padding: 3rem 2rem;

    @media (min-width: 800px) {
      padding: 3rem 0;
    }
  }



  // embeds
    .embed {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;
      max-width: 100%;
    }

    .embed-1x1 {
      padding-bottom: 100%;
    }

    .embed-4x3 {
      padding-bottom: 75%;
    }

    .embed-2x1 {
      padding-bottom: 50%;
    }

    .embed {
      iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    .grid {
      display: grid;
      gap: 3rem;

      @media (min-width: 800px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        margin: auto;
        gap: 5rem;
      }
    }

  // content boxes

// typography

  h1 {
    text-align: center;
    margin-bottom: 3rem;
    font-weight: lighter;
    font-size: 3rem;
  }

  h2 {
    font-weight: lighter;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  p {
    margin-bottom: 1rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
  
// footer

  .footer {
    background-color: var(--footer-background-color);
    color: var(--footer-text-color);
    padding: 3rem 0;
    text-align: center;
  }

  .contacts {
    display: flex;
    flex-flow: column;
    margin-bottom: 3rem;

    @media (min-width: 800px) {
      flex-flow: row wrap;
      justify-content: space-evenly;
    }

    li {
      margin-bottom: 2rem;    

      &:last-of-type {
        margin-bottom: 0;
      }

      @media (min-width: 800px) {
        padding: 1rem 2rem;    
        margin-bottom: 0;
      }
    }
  }

// mixed
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    max-width: 1000px;
  }
